/*all*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    overflow-x: hidden;
}

body {
    font-family: helvetica, arial, sans-serif;
    background: #180048;
}

.container {
    width: min(1200px, 90%);
    margin: auto;
}

/*header*/

.nav_header {
    color: white;
    position: fixed;
    background-color: #100030;
    backdrop-filter: blur(20px);
    top: 0;
    z-index: 1000;
    height: auto;
    width: 100%;
    font-weight: 600;
    font-size: 1rem;
}

.nav_header img {
    width: 22px;
    height: 22px;
    display: block;
    flex-shrink: 0;
}

.nav_header a {
    align-items: center;
    cursor: pointer;
    padding: 12px;
}

.nav_header a:hover {
    color: #60F0F8;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 8px;
}

.nav_header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 0;
}

/*left, right nav*/

.left_nav {
    gap: 30px;
    display: flex;
    align-items: center;
}

.right_nav {
    display: flex;
    gap: 30px;
    align-items: center;
}

.left_nav svg {
    cursor: pointer;
}

.right_nav img {
    width: 20px;
    height: 20px;
}

/*dropdown*/

.dropdown {
    position: relative;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    right: -70px;

    min-width: 220px;

    background: #100030;

    border-radius: 0 0 16px 16px;

    padding: 12px 0;

    opacity: 0;
    visibility: hidden;

    transform: translateY(-10px);

    transition:
        opacity .2s ease,
        transform .2s ease,
        visibility .2s ease;

    z-index: 1000;
}

.dropdown-menu a {
    display: block;
    padding: 14px 24px;

    color: white;
    text-decoration: none;
}

.right_nav .dropdown-menu {
    right: -120px;
}

.dropdown-menu a:hover {
    background: rgba(255, 255, 255, 0.1);
}

.dropdown:hover .dropdown-menu {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

/*login*/

.login a {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.login img {
    width: 18px;
    height: 18px;
    display: block;
    background-color: white;
    border-radius: 50%;
    margin-left: 10px;
}

/*burger*/

.burger {
    display: none;
    background: none;
    border: none;
    color: white;
    width: 100px;
    font-size: 1.2rem;
    height: 30px;
    cursor: pointer;
    transition: 0.5s all;
}

.burger:hover {
    color: #60F0F8;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 8px;
}

/*mobile menu*/
.mobile-menu {
    max-height: 0;
    overflow: hidden;
    transition: max-height .3s ease;

    backdrop-filter: blur(20px);
    background: #100030;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.mobile-menu img {
    cursor: pointer;
}

.mobile-menu.active {
    max-height: 400px;
}

.mobile-menu a {
    color: rgba(255, 255, 255, 0.699);
}

/*mobile menu a, submenu*/

.mobile-menu a,
.submenu-btn {
    text-decoration: none;
    width: auto;
    margin-right: 20px;

    padding: 12px 16px;
    border: 1px solid transparent;
    border-radius: 8px;
}

.submenu-btn {
    background: none;
    font-size: 1rem;
    cursor: pointer;
    color: white;
    transition: 0.5s all;
}

.submenu {
    max-height: 100px;
    overflow: hidden;
    transition: max-height .3s ease;
    padding-left: 20px;
    color: rgba(255, 255, 255, 0.699);
}

.submenu-btn:hover {
    color: #60F0F8;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.1)
}

.submenu-access {
    background-color: #2D1A83;
    display: flex;
    justify-content: flex-start;
    padding: 20px;
    width: 100%;
}

.submenu-access a {
    background-color: transparent;

    gap: 10px;
    text-decoration: none;
    color: white;

    border: 1px solid transparent;
    border-radius: 8px;
    cursor: pointer;

    transition: 0.5s all;
}

.submenu-access a:hover {
    background-color: rgba(255, 255, 255, 0.1);
    color: #60F0F8;
    border-radius: 8px;
}

.submenu-access img {
    width: 18px;
    height: 18px;
    background-color: white;
    border-radius: 50%;
}

.submenu a {
    text-align: right;
    display: block;
    font-size: small;
    transition: 0.5s all;
}

.submenu a:hover {
    color: rgba(255, 255, 255, 0.699);
    background-color: rgba(255, 255, 255, 0.1)
}


/* Front content */

.box_grid {
    display: flex;
    flex-direction: column;
    gap: 30px;
    color: #60F0F8;
    font-size: 3.4rem;
    font-weight: 700;
    padding: clamp(1.5rem, 5vw, 4.8rem);
    line-height: 4.5rem;
    margin-inline: auto;
    max-width: 114rem;
}


.text_grid {
    margin-top: 40px;
}

/*buttons*/

.grid_box_buttons {
    display: flex;
    gap: 20px;
}

.btn_first {
    background: #F050F8;
    border: none;
    color: black;
    padding: 15px;
    border-radius: 15px;
    font-size: 1.2rem;
    width: 25%;
    height: auto;
    cursor: pointer;
    transition: 0.25s all;
}

.btn_first:hover {
    background: #ee90f3;
}

.btn_second {
    background: transparent;
    color: #F050F8;
    border: 2px solid #F050F8;
    padding: 15px;
    border-radius: 15px;
    font-size: 1.2rem;
    width: 25%;
    height: auto;
    cursor: pointer;
    transition: 0.25s all;
}

.btn_second:hover {
    color: black;
    background: #F050F8;
}

/*benefits*/

.benefits {
    padding: 100px 0;
}

.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    padding-bottom: 50px;
}

.card {
    background: #180048;
    color: white;
    padding: 32px;
    border-radius: 32px;
    text-align: left;
}

.card p {
    color: rgba(255, 255, 255, 0.829);
    font-size: 20px;
    font-weight: 500;
    word-spacing: 1px;
    margin-top: 40px;
}

.card img {
    display: block;
    margin: 40px auto;
}

.card h3 {
    margin-bottom: 20px;
}

/*reviews*/

.reviews {
    padding: 80px 0;
    color: white;
    background-color: #100030;
}

.reviews_header {
    display: flex;
    gap: 40px;
    align-items: flex-start;
}

/*TrustPilot box (left box)*/

.trustpilot_box {
    min-width: 220px;
    text-align: center;
    cursor: pointer;
}

.trustpilot_box h3 {
    font-size: 2rem;
}

.trustpilot_box p {
    font-size: 0.8rem;
}

strong {
    text-decoration: underline;
}

strong:hover {
    text-decoration: none;
}

.stars {
    color: #00ff9d;
    font-size: 2rem;
    margin-bottom: 10px;
}

.stars:hover {
    color: #00ff9d94;
}

.trustpilot_logo {
    margin-top: 10px;
    font-weight: bold;
}

/*SCROLLING REVIEWS*/
.reviews_track {
    display: flex;
    gap: 20px;

    overflow-x: auto;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    transition: transform 0.4s ease;

    padding-bottom: 10px;

    transform: none !important;
}

/*hide scrollbar*/
.reviews_track::-webkit-scrollbar {
    display: block;
}

.review_card {
    background: #100030;
    padding: 24px;
    border-radius: 24px;
    scroll-snap-align: start;
    flex: 0 0 calc((100% - 40px) / 3);
    box-sizing: border-box;
}

.review_card h4 {
    margin: 10px 0;
}

.review_card p {
    opacity: 0.8;
    font-size: 0.9rem;
    margin-bottom: 12px;
}

.review_card span {
    display: flex;
    font-size: 0.8rem;
    opacity: 0.7;
    gap: 2px;
}

.stars2 {
    color: #00ff9d;
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.stars2:hover {
    color: #00ff9d94;
    cursor: default;
}

.reviews_section {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
}

.reviews_wrapper {
    overflow: hidden;
    flex: 1;
}

.reviews_widget {
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    padding: 0 0 0 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.review_arrow {
    width: 48px;
    height: 48px;

    border: none;
    border-radius: 50%;

    background: #1d0848;
    color: white;

    cursor: pointer;
    font-size: 1.2rem;

    transition: 0.2s;
}

.review_arrow.left {
    left: 10px;
}

.review_arrow.right {
    right: 10px;
}

.review_arrow:hover {
    background-color: grey;
    color: white;
}

.reviews_controls {
    display: flex;
    justify-content: space-between;
    gap: 12px;

    margin-bottom: 15px;
}

/*Switching, different offers*/

.switching {
    padding: 80px 0;
    color: white;
}

.switching h3 {
    color: #60F0F8;
    font-size: 2rem;
    margin-bottom: 24px;
    letter-spacing: 1px;
    line-height: 1.5;
    font-weight: 600;
    text-align: left;
}

.switching h4 {
    text-align: left;
    font-size: 1.1rem;
    letter-spacing: 1px;
}

.subtitle {
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 60px;
}

.steps {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 32px;
}

.step {
    text-align: center;
}

.step img {
    margin-bottom: 40px;
    width: 100%;
    max-width: 220px;
    height: 200px;
    margin: 0 auto 32px;
    display: block;

}

.step p {
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.8rem;
}

/*Ad for protection*/

.illudi {
    padding: 60px 0;
    background-color: #100030;
}

.illudi h3 {
    color: #60F0F8;
    font-size: 2rem;
    margin-bottom: 50px;
    letter-spacing: 1px;
    line-height: 1.5;
}

.illudi-content {
    display: flex;
    align-items: center;
    gap: 40px;
}

.illudi-image img {
    width: 220px;
}

.illudi-text {
    color: white;
    font-size: 1.2rem;
    line-height: 1.5;
}

.illudi-text p:first-child {
    margin-bottom: 20px;
}

.illudi-text button {
    margin-top: 40px;
    border-radius: 10px;
    width: 160px;
}

/*Different compant tags*/

.press {
    padding: 100px 0;
}

.press-small {
    color: white;
    font-size: 1.2rem;
    font-weight: 600;
}

.press h2 {
    color: #60F0F8;
    font-size: 2.4rem;
    margin-top: 20px;
    margin-bottom: 60px;
}

.press-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
}

.press-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.press-card {
    background: #2D1A83;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 0px;
    padding: 30px;
    height: 100%;
    min-height: 250px;
}

.logo-container {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.press-logo {
    max-width: 180px;
    max-height: 60px;
    width: auto;
    height: auto;
}

.press-card p {
    color: white;
    font-size: 1.2rem;
    line-height: 1.5;
}

.press-card img {
    width: 180px;
    height: auto;
    align-self: center;
}

/*footer*/

.footer {
    padding: 80px 0 40px;
    color: white;
}

.footer-logo {
    margin-bottom: 40px;
}

.footer-logo img {
    height: 35px;
    width: auto;
    cursor: pointer;
}

.footer-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 60px;
}

.footer-column {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer-column a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 600;
}

.footer-column a:hover {
    color: #60F0F8;
}

/*socials*/

.socials {
    display: flex;
    gap: 20px;
    margin-bottom: 10px;
}

.socials-svg:hover {
    fill: #60F0F8;
}

.socials a {
    font-size: 1.4rem;
}

/*countries*/

.countries {
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 16px;
}

.countries a:hover {
    cursor: pointer;
    color: #60F0F8;
}

.countries img {
    width: 15px;
    height: auto;
}

.countries img:hover {
    cursor: default;
}

.countries a {
    transition: 0.5s all;
    font-size: 1rem;
}

/*awards*/

.awards {
    display: flex;
    gap: 30px;
    align-items: center;
    background-color: transparent;
}

.awards img {
    height: 120px;
    width: auto;
}

/*store buttons*/

.stores {
    margin-top: 20px;
    display: flex;
    gap: 30px;
}

.stores img:hover {
    cursor: pointer;
}

.stores img {
    height: 60px;
    width: auto;
}

.legal {
    margin-top: 50px;
    font-size: 1.2rem;
    line-height: 1.4;
    max-width: 1100px;
}

/* Cookies */

.cookie-fab {
    position: fixed;
    bottom: 20px;
    left: 20px;
    z-index: 3000;

    background: #100030;
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 999px;

    padding: 10px 14px;
    cursor: pointer;
}

.cookie-panel {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.4);

    display: none;
    align-items: flex-end;
    justify-content: flex-start;

    padding: 20px;
    z-index: 2999;
}

.cookie-fab {
    position: fixed;
    bottom: 20px;
    left: 20px;
    z-index: 3000;

    background: #100030;
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 999px;

    padding: 10px 14px;
    cursor: pointer;
}

.cookie-open {
    opacity: 1;
    transition: opacity 0.25s ease;
}

.cookie-open.hidden {
    opacity: 0;
    pointer-events: none;
}

.cookie-open {
    position: fixed;
    bottom: 20px;
    left: 20px;
    z-index: 3000;

    background: #100030;
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 999px;

    padding: 10px 14px;
    cursor: pointer;
}

.cookie-drawer {
    position: fixed;
    bottom: 20px;
    left: 0;
    width: 100%;
    z-index: 2999;

    display: flex;
    justify-content: center;

    transform: translateY(120%);
    transition: transform 0.35s ease;

    background: transparent;

}

/*action for js*/
.cookie-drawer.open {
    transform: translateY(0);
}

.cookie-content {
    display: flex;
    justify-content: space-between;
    align-items: center;

    gap: 20px;

    max-width: 900px;
    width: 90%;

    padding: 18px 22px;

    background: #100030;
    color: white;

    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 14px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
}


.cookie-text {
    font-size: 0.95rem;
    line-height: 1.4;
    max-width: 70%;
}


.cookie-actions {
    display: flex;
    gap: 10px;
}

.cookie-actions button {
    padding: 8px 14px;
    border-radius: 6px;
    border: 1px solid white;
    background: transparent;
    color: white;
    cursor: pointer;
    transition: 0.2s;
}

.cookie-actions button:hover {
    background: white;
    color: #100030;
}

.cookie-open {
    display: flex;
    transition: 0.5s all;
}

.cookie-open:hover {
    color: #60F0F8;
    background-color: rgba(255, 255, 255, 0.1)
}

/*mobile*/
@media (max-width: 640px) {

    /*Front content*/
    .text_grid {
        font-size: 2.5rem;
        font-weight: 600;
        line-height: 1.5;
        margin-top: 80px;
        text-align: left;
    }

    .grid_box_buttons {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .btn_first,
    .btn_second {
        width: 400px;
        font-weight: 500;
    }

    .box_grid {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 2rem;
        text-align: center;
    }

    /*Dropdown*/
    .dropdown {
        display: none;
    }

    .dropdown-menu {
        display: none;
    }

    /*Navs*/
    .left_nav a,
    .right_nav>a,
    .login {
        display: none;
    }

    .left_nav {
        gap: 0;
    }

    /*submenu, burger menu*/
    .submenu-access a {
        background-color: #2D1A83;
        display: flex;
        justify-content: flex-start;
    }

    .burger {
        display: block;
    }

    /*Benefits Cards*/
    .cards {
        grid-template-columns: 1fr;
    }

    .card {
        width: 500px;
    }

    .card h3 {
        letter-spacing: 1px;
    }

    .card img {
        display: block;
        margin: 0 auto;
        margin-bottom: 40px;
    }

    /*Truspilot reviews*/
    .trustpilot_box {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 26%;
    }

    .reviews_track {
        display: none;
    }

    .reviews_header {
        text-align: center;
        justify-content: center;
        align-items: center;
    }

    .review_arrow {
        display: none;
    }

    .reviews_widget {
        display: none;
    }

    /*Switching Offers*/
    .switching {
        text-align: center;
        justify-content: center;
        align-items: center;
    }

    .switching h2 {
        font-size: 2rem;
        line-height: 1.2;
    }

    .subtitle {
        font-size: 1.3rem;
        margin-bottom: 40px;
    }

    .steps {
        grid-template-columns: 1fr;
        justify-items: center;
        gap: 60px;
    }

    .step {
        width: 100%;
        max-width: 320px;
        text-align: center;
    }

    .step img {
        max-width: 70%;
        margin-inline: auto;
        max-height: 20rem;
        max-width: 100%;
        height: 200px;
    }

    .step p {
        font-size: 1.2rem;
    }

    /*Protection ad*/
    .illudi h3 {
        text-align: center;
    }

    .illudi-text button {
        width: 210px;
    }

    .illudi-text p {
        text-align: left;
    }

    .illudi-content {
        flex-direction: column;
        text-align: center;
    }

    .illudi-image img {
        width: 180px;
    }

    .illudi h2,
    .press h2 {
        font-size: 2rem;
        line-height: 1.2;
    }

    .illudi-text {
        font-size: 1.2rem;
    }

    /*Different company tags*/
    .press-grid {
        grid-template-columns: 1fr;
    }

    .press-item {
        justify-content: center;
        align-items: center;
    }

    .press-logo {
        width: 140px;
    }

    .press-card {
        min-height: auto;
        width: 300px;
    }

    .press-card p {
        font-size: 1.2rem;
    }

    /*Footer*/
    .footer-grid {
        grid-template-columns: 1fr;
        gap: 40px;
    }

    .awards {
        margin-top: 60px;
    }

    .awards,
    .stores {
        justify-content: flex-start;
    }

    .socials {
        flex-wrap: wrap;
    }


    .legal {
        font-size: 1rem;
        text-align: left;
    }

    /*Cookies*/
    .cookie-open {
        border: none;
        background-color: transparent;
    }

    .cookie-open p {
        display: none;
    }
}